
html {
  cursor:grab;

}
body{
  margin: 0px;
  min-width: 1000px;
  
}
a{
  
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
}
/*шрифты*/

/*цвета*/
.header_top_part {
    margin: 20px 69px 15px 93px;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    
}
.header_menu{
  display: flex;
  align-items: center;
}
.header_nav{
  display: flex;
  gap: 34px;
  color: #A4A4AA;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  

}
.control_hover:hover {
  color: #000;
}
.control_li {
  position: relative;
}
.nonactive {
    opacity: 0;
    visibility: hidden;
}
.nav_option:hover{
  color: #000;
}

.control{
  display: flex;
  align-items: center;
  gap: 3px;
}
.arrow {
  width: 14px;
  height: 14px;
  background-image: url(/img/arrow.png);

}

.wrap_celect {
  position: absolute;
  z-index: 1;
  left: -100px;
  top: 50px;
    transition: all .2s ease .1s;
  
}
.celect {
  left: 26px;
  top: -5px;
  
  padding: 13px 15px 13px 32px;
  
  position: relative;
	text-align: center;
  background-color: #fff;
  border-radius: 12px;
  fill: #FFF;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.12));

}

.celect:before{
    
    content: ' '; 
	  position: absolute; 
	  width: 0px; 
	  height: 0px;
    left: 106px; 
	  top: -7.5px;  
    transform: rotate(44deg);
    border: 8px solid; 
    border-color: #fff transparent transparent #fff ; 
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.12));
}
.celect:after{
    content: ' '; 
    position: absolute; 
    width: 100px; 
    height: 15px;
    background: #FFF;
    top:0px;
    left: 55px;
    
}


.ctrl_option{
  display: flex;
  align-items: center;
  width: 183px;
  height: 48px;
  gap: 15px;
  margin: 5px 0px;
}
.ctrl_option:hover{
  color: black;
  background-color: #EFF2F5;
  border-radius: 12px;
}
.ctrl_option_img {
  display: block;
  width: 33px;
  height: 33px;
  border: 0px;
  border-radius: 16px;
}
.ctrl_option_img_accs{
  background: url(/img/accs.png) no-repeat center;
  background-color: #3069FF;
}
.ctrl_option_img_promo {
  background: url(/img/promo.png) no-repeat center;
  background-color: #FF775F;
}
.ctrl_option_img_groups {
  background: url(/img/groups.png) no-repeat center;
  background-color: #F5B97F;
}
.ctrl_option_img_shedle {
  background: url(/img/clock.png) no-repeat center;
  background-color: #8A3FFC;
}  
.ctrl_option_img_proxy{
  background: url(/img/proxy.png) no-repeat center;
  background-color: #13B2CF;
}
.ctrl_option_img_report{
  background: url(/img/report.png) no-repeat center;
  background-color: #16C784;
}
.logo {
  display: flex;
  gap: 10px;
  align-items:center;
}
.logo_img {
    background-image: url(/img/logo.png);
    width: 30px;
    height: 34px;
}
.logo_text{
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: normal;
  letter-spacing: -0.6px;
  
}
.plus_balance{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  border-radius: 11px;
  background-color: #3069FF;

  width: 185px;
  height: 40px;
  margin-left: 31px;

  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.14px;
  color: #FFF;
}

.bell_img {
  margin-left: 16px;
  background-image: url(/img/bell.png);
  width: 41px;
  height: 41px;
}
/*header second part*/
.acc_banner {
 position: relative;
 margin:0px 35px 0px 50px;
}
.acc_background{
  height: 240px;
  flex-shrink: 0;
  border-radius: 28px;
  background: linear-gradient(to right, #33C5E5 0%, #56B4F8 57%, #3069FF 100%);

}
.acc_avatar{
  position: absolute;
  left: 30px;
  top: 160px;
  width: 95px;
  height: 95px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 4px solid #FFF;
  background: url(/img/ava.png) lightgray 0px -5.055px / 100% 150.391% no-repeat;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.04);
}
.acc_info {
  padding-top: 20px;
}
.header_bottom_part{

}

.acc_info{
  display: flex;
  justify-content: space-between;
  margin:0px 30px
}
.acc_info_history{
  display: flex;
  width: 289px;
  height: 140px;
  padding-left: 38px;
  margin-top: 15px;
  justify-content: space-between;
  padding-top: 15px;
  border-left: solid 1px #D9D9D9;
}
.acc_info_proper{
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: #A4A4AA;
  font-family: Inter;
  font-size: 15.028px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.acc_info_value{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 18px;
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 15.028px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}
.user_name{
  font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
  margin:24px 0px 18px 0px;

}
.wrapper_user_id {
  display: flex;
  align-items: center;
   margin-bottom: 21px;
}
.id {

  color: #A4A4AA;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.user_id{
  margin-left: 4px;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.user_id_copy_btn{
  margin-left: 8px;
  display: flex;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  background-image: url(/img/pathfinder-trim.png);
}
.tech_support{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 187px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #A4A4AA;
  background: #FFF;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.16px;
  
}

.nav_bar_repeter{
  margin: 25px 40px;
  border-bottom: #D9D9D9 1px solid;
  display: flex;
  color: #A4A4AA;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
}

.nav_repeter_option_accs:hover, .nav_repeter_option:hover{
  color: black;
  border-bottom: #000 2px solid;

}

.nav_repeter_option_accs{
  padding-left: 0px;
  margin: 0px;
 
}
.nav_repeter_option{
  padding-left:0px;
  margin:0px 0px 0px 25px; 
  
}

.nav_repeter_option,
.nav_repeter_option_accs
{
  padding-bottom: 15px;
  border-bottom: white 2px solid;
}

.display_none {
  display: none;
}

.control_panel{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin:0px 75px 0px 88px;

}
.accs_search-wrapper{
  display: flex;
  width: 100%;
  position: relative;

}
.accs_search {
  display: flex;
  width: 100%;
  outline: none; 
  height: 40px;
  text-indent: 18px;
  text-align: left;
  padding-left: 25px;
}
.accs_search::placeholder {
  
  text-align: left; /* Выравниваем текст плейсхолдера по левому краю */
}
.search_icon {
  position: absolute;
  left:15px;
  top: 11px;
  width: 18px;
  height: 18px; 
  background:no-repeat center url(/img/search_img.png)
}
.search:focus{
  background-image:none;
 }


.add_button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  padding: 0px 10px;
  height: 40px;
  border-radius: 12px;
  background-color: rgba(237, 237, 237, 1);
  

  
}
.accs_search,
.add_button,
.sort_select
{
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 12px;
  background-color: #F6F6F6;
  border: 0px;
}


.sort_select {
  position: relative;
  display: inline-block;
  max-width: 207px;
  max-height: 40px;

}

.sort_btn {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f7f7f8;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort_options{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
}

.sort_options.show {
  display: block;
}

.sort_options li {
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.sort_options li:hover {
  background-color: #f0f0f0;
}

.sort_options li.selected {
  color: #007BFF;
  font-weight: bold;
  background-color: #f7f7f8;
}

.sort_btn span {
  margin-right: 10px;
}

/* селектор сортировки */

.sort_selecrtor,
.sort_dropdown_toggle{
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sort_dropdown_menu{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 207px;
  list-style: none;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  width: 207px;
  padding: 4px 0px;
}
  
.sort_dropdown_toggle{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  
  width: 207px;
  height: 40px;
  border: 0px;
  border-radius: 9px;
  background:#EDEDED
}
.vector {
  width: 10px;
  height: 7px;
  background:no-repeat center url(/img/Vector.png) ;
}
.sort_dropdown_item{
  display: flex;
  align-items: center;
  text-align: start;
  box-sizing: border-box;
  min-width: 199px;
  height: 48px;
  padding-left: 13px;
}
.sort_dropdown_item:hover{
  color: #3069FF;
  background: #F6F6F6;
  border-radius: 9px;
}
.open {
  display: flex;
}



